In [4]:
import pandas as pd
import numpy as np
import math

In [ ]:
dataset_url="https://raw.githubusercontent.com/Feb11F/datamining/main/data-penumpang-kapal-bulan-juni-2020.csv"
p=pd.read_csv(dataset_url, index_col=0)

In [ ]:
p

,pelabuhan,kapal_berangkat,kapal_tiba,penumpang_naik,penumpang_turun
tanggal,,,,,
2020-06-01,MUARA ANGKE,1,0,9,0
2020-06-02,MUARA ANGKE,0,1,0,22
2020-06-03,MUARA ANGKE,1,0,11,0
2020-06-04,MUARA ANGKE,0,1,0,44
2020-06-05,MUARA ANGKE,0,0,0,0
...,...,...,...,...,...
2020-06-26,SABIRA,1,1,8,8
2020-06-27,SABIRA,0,1,0,12
2020-06-28,SABIRA,1,0,12,0
2020-06-29,SABIRA,1,2,0,23
2020-06-30,SABIRA,0,1,0,5

In [ ]:
def diss(x,y):
  a = 4
  b = 0
  for col in ["pelabuhan","kapal_berangkat","kapal_tiba","penumpang_naik","penumpang_turun"]:
    if p[col][x] == p[col][y]:
      b+=1
    return (a-b)/a

In [ ]:
print(diss(1,1))

0.75

In [ ]:
p.describe()

       kapal_berangkat  kapal_tiba  penumpang_naik  penumpang_turun
count       300.000000  300.000000      300.000000       300.000000
mean          3.320000    3.366667       52.223333        51.076667
std           4.786855    4.672436      129.907094       119.924826
min           0.000000    0.000000        0.000000         0.000000
25%           1.000000    1.000000        0.000000         0.000000
50%           2.000000    2.000000       16.000000        15.000000
75%           4.000000    4.000000       46.250000        54.250000
max          42.000000   37.000000     1270.000000      1157.000000

In [ ]:
#normalisasi kb
std_kb = 4.786855
mean_kb = 3.320000
for col1 in ["kapal_berangkat"]:
    p1 = p[col1]
    hasil1 = (p1-mean_kb)/std_kb
    print(hasil1)

#normalisasi kt
std_kt = 4.672436	
mean_kt = 3.366667
for col2 in ["kapal_tiba"]:
    p2 = p[col2]
    hasil2 = (p2-mean_kt)/std_kt
    print(hasil2)

tanggal
2020-06-01   -0.484661
2020-06-02   -0.693566
2020-06-03   -0.484661
2020-06-04   -0.693566
2020-06-05   -0.693566
                ...
2020-06-26   -0.484661
2020-06-27   -0.693566
2020-06-28   -0.484661
2020-06-29   -0.484661
2020-06-30   -0.693566
Name: kapal_berangkat, Length: 300, dtype: float64
tanggal
2020-06-01   -0.720538
2020-06-02   -0.506517
2020-06-03   -0.720538
2020-06-04   -0.506517
2020-06-05   -0.720538
                ...
2020-06-26   -0.506517
2020-06-27   -0.506517
2020-06-28   -0.720538
2020-06-29   -0.292496
2020-06-30   -0.506517
Name: kapal_tiba, Length: 300, dtype: float64

In [ ]:
# Menghitung jarak data Numeric dengan cara Euclidean
def num_p(a,b,c):
    result = 0
    for col in [hasil1, hasil2]:
        result = math.pow(abs(col[a] - col[b]), c)
    return result**(1/c)

In [ ]:
print(num_p(1,2,2))
print(num_p(1,3,2))
print(num_p(1,4,2))

0.21402112302875842
0.0
0.21402112302875842

**SIMILARITY**

In [ ]:
print("Jarak d(1,2) =", diss(1,2)+num_p(1,2,2))

Jarak d(1,2) = 0.9640211230287584

In [ ]:
print("Jarak d(1,2) =", diss(1,3)+num_p(1,3,3))

Jarak d(1,2) = 0.75

In [ ]:
print("Jarak d(1,2) =", diss(1,4)+num_p(1,4,4))

Jarak d(1,2) = 0.9640211230287584

**DISKRITISASI**

In [5]:
dataset= 'https://raw.githubusercontent.com/Feb11F/datamining/gh-pages/Iris.csv'
f = pd.read_csv(dataset)

In [7]:
f.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [8]:
from sklearn.preprocessing import KBinsDiscretizer

In [10]:
sepalLength = f.SepalLengthCm
sepalWidth = f.SepalWidthCm
petalLength = f.PetalLengthCm
petalWidth = f.PetalWidthCm
spesies = f.Species

In [11]:
aa = sepalLength.values.reshape(-1,1)
ab = sepalWidth.values.reshape(-1,1)
ac = petalLength.values.reshape(-1,1)
ad = petalWidth.values.reshape(-1,1)
sp = spesies.values.reshape(-1,1)

In [12]:
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')

In [13]:
est.fit(aa)
est.fit(ab)
est.fit(ac)
est.fit(ad)

KBinsDiscretizer(encode='ordinal', n_bins=4, strategy='uniform')

In [14]:
KBinsDiscretizer(encode='ordinal', n_bins=4, strategy='uniform')

KBinsDiscretizer(encode='ordinal', n_bins=4, strategy='uniform')

In [15]:
KBinsDiscretizer(...)

KBinsDiscretizer(n_bins=Ellipsis)

In [16]:
KBinsDiscretizer(n_bins=Ellipsis)

KBinsDiscretizer(n_bins=Ellipsis)

In [17]:
xa = est.transform(aa)
xb = est.transform(ab)
xc = est.transform(ac)
xd = est.transform(ad)

In [19]:
da1 = {'SepalLengthCm':xa}
da2 = {'SepalLengthCm':xb}
da3 = {'SepalLengthCm':xc}
da4 = {'SepalLengthCm':xd}

In [20]:
fa = pd.DataFrame(xa,columns=['SepalLengthCm'])
fb = pd.DataFrame(xb,columns=['SepalWidthCm'])
fc = pd.DataFrame(xc,columns=['SepalLengthCm'])
fd = pd.DataFrame(xd,columns=['TepalWidthCm'])
spe = pd.DataFrame(sp,columns=['Species'])

In [21]:
datalist = [fa, fb, fc, fd, spe]
pd.concat(datalist, axis=1)

     SepalLengthCm  SepalWidthCm  SepalLengthCm  TepalWidthCm         Species
0              3.0           3.0            2.0           0.0     Iris-setosa
1              3.0           3.0            2.0           0.0     Iris-setosa
2              3.0           3.0            2.0           0.0     Iris-setosa
3              3.0           3.0            2.0           0.0     Iris-setosa
4              3.0           3.0            2.0           0.0     Iris-setosa
..             ...           ...            ...           ...             ...
145            3.0           3.0            3.0           3.0  Iris-virginica
146            3.0           3.0            3.0           3.0  Iris-virginica
147            3.0           3.0            3.0           3.0  Iris-virginica
148            3.0           3.0            3.0           3.0  Iris-virginica
149            3.0           3.0            3.0           2.0  Iris-virginica

[150 rows x 5 columns]